<header>
  <nav class="primary" itemscope itemtype="http://schema.org/Brand">
    <a href="/" class="brand", itemprop="logo">
      {% include logo-svg.html %}
    </a>
    <input id="bmenu" type="checkbox" class="show">
    <label for="bmenu" class="burger toggle pseudo button">menu</label>
    <svg width="0" height="0">
       <mask id="mask">
          <path xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#ff0000" stroke-miterlimit="10" stroke-width="4" d="M 34 2 c 11.6 0 21.8 6.2 27.4 15.5 c 2.9 4.8 5 16.5 -9.4 16.5 h -4" />
       </mask>
     </svg>
    <div class="menu">
      <a href="badrumsrenovering">Badrumsrenovering</a>
      <a href="/rekommendationer">Rekommendationer</a>
      <a href="/tjanster">Våra Tjänster</a>
      <a href="/om-oss">Om Oss</a>
      <a href="/offert">Offertförfrågan</a>
    </div>
  </nav>
</header>