<div class="testimonials">
  <h2>Nöjda kunder</h2>
  {% assign rekommendationer = (site.rekommendationer | sort: 'date') | reverse %}
  {% for rekommendation in rekommendationer limit:3 %}
    <div class="testimonial block">
      <h4>{{ rekommendation.title }}</h4>
      <blockquote>{{ rekommendation.excerpt markdownify | strip_html | truncatewords: 30 }}</blockquote>
      <div class="testimonial-client">— {{ rekommendation.kund }}</div>
    </div>
  {% endfor %}
  <a href="/rekommendationer" alt="Fler Rekommendationer för Stockholms Badrums Renovering">Fler Rekommendationer</a>
</div>